<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.specer.alfred.translate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>icon</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BF617B6-16C5-49C5-8B83-EA6960461AE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>specer</string>
	<key>description</key>
	<string>Use Google and Deepl translate among many languages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4BF617B6-16C5-49C5-8B83-EA6960461AE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Translating...</string>
				<key>script</key>
				<string>python3 translate.py $*</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Input any text</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>icon</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4BF617B6-16C5-49C5-8B83-EA6960461AE2</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>icon</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get your personal deepl's API key on https://www.deepl.com</string>
			<key>label</key>
			<string>Deepl API-Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>deepl_api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get your personal YouDao App ID info on https://ai.youdao.com</string>
			<key>label</key>
			<string>YouDao App ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>youdao_appid</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get your personal YouDao App secret info on https://ai.youdao.com</string>
			<key>label</key>
			<string>YouDao App Sec</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>youdao_sec</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ZH</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Bulgarian</string>
						<string>BG</string>
					</array>
					<array>
						<string>Czech</string>
						<string>CS</string>
					</array>
					<array>
						<string>Danish</string>
						<string>DA</string>
					</array>
					<array>
						<string>German</string>
						<string>DE</string>
					</array>
					<array>
						<string>Greek</string>
						<string>EL</string>
					</array>
					<array>
						<string>English (British)</string>
						<string>EN-GB</string>
					</array>
					<array>
						<string>English (American)</string>
						<string>EN-US</string>
					</array>
					<array>
						<string>Spanish</string>
						<string>ES</string>
					</array>
					<array>
						<string>Estonian</string>
						<string>ET</string>
					</array>
					<array>
						<string>Finnish</string>
						<string>FI</string>
					</array>
					<array>
						<string>French</string>
						<string>FR</string>
					</array>
					<array>
						<string>Hungarian</string>
						<string>HU</string>
					</array>
					<array>
						<string>Indonesian</string>
						<string>ID</string>
					</array>
					<array>
						<string>Italian</string>
						<string>IT</string>
					</array>
					<array>
						<string>Japanese</string>
						<string>JA</string>
					</array>
					<array>
						<string>Korean</string>
						<string>KO</string>
					</array>
					<array>
						<string>Lithuanian</string>
						<string>LT</string>
					</array>
					<array>
						<string>Latvian</string>
						<string>LV</string>
					</array>
					<array>
						<string>Norwegian</string>
						<string>NB</string>
					</array>
					<array>
						<string>Dutch</string>
						<string>NL</string>
					</array>
					<array>
						<string>Polish</string>
						<string>PL</string>
					</array>
					<array>
						<string>Portuguese (Brazilian)</string>
						<string>PT-BR</string>
					</array>
					<array>
						<string>Portuguese (European)</string>
						<string>PT-PT</string>
					</array>
					<array>
						<string>Romanian</string>
						<string>RO</string>
					</array>
					<array>
						<string>Russian</string>
						<string>RU</string>
					</array>
					<array>
						<string>Slovak</string>
						<string>SK</string>
					</array>
					<array>
						<string>Slovenian</string>
						<string>SL</string>
					</array>
					<array>
						<string>Swedish</string>
						<string>SV</string>
					</array>
					<array>
						<string>Turkish</string>
						<string>TR</string>
					</array>
					<array>
						<string>Ukrainian</string>
						<string>UK</string>
					</array>
					<array>
						<string>Chinese (simplified)</string>
						<string>ZH</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Translate any language into the default one</string>
			<key>label</key>
			<string>Language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>target_lang</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>specer.org</string>
</dict>
</plist>
